@tailwind base;
@tailwind components;
@tailwind utilities;
.max-h-85 {
  max-height: 85vh;
}
.file:hover > .hidden {
  display: inline !important;
}

.loader {
  display: none;
}

.file.loading .loader {
  display: inline;
}